@{
    ViewData["Title"] = "Edit game page";
}
@model EditGameViewModel

<div class="container mt-4">
    <h2>Editgame</h2>
    <form class="form-class" asp-controller="game" asp-action="edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" value="@Model.Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input asp-for="Price" type="text" class="form-control" value="@Model.Price">
        </div>
        <div class="mb-3">
            <div class="d-flex justify-content-start mb-4">
                <input type="hidden" value="@Model.ImagePath" asp-for="@Model.ImagePath"/>
                <img src="~/@Model.ImagePath" class="detail-img" style="width: 300px;" alt="">
            </div>
            <label class="form-label">Select game image</label>
            <input asp-for="ImageFile" class="form-control" type="file" accept="image/*">
            <span class="text-danger" asp-validation-for="ImageFile"></span>
        </div>
        <div class="category">
            <h6>Select game categories</h6>
            <div class="form-check form-check-inline">
                @for (int i = 0; i < Model.SelectedCategories.Count(); i++)
                {
                    <div>
                        @Html.HiddenFor(x => x.SelectedCategories[i].Name)
                        @Html.CheckBoxFor(x => x.SelectedCategories[i].IsChecked)
                        @Html.LabelFor(x => x.SelectedCategories[i].IsChecked, Model.SelectedCategories[i].Name)
                    </div>
                }
            </div>
            <span class="text-danger" asp-validation-for="SelectedCategories"></span>
        </div>
        <span></span>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" rows="3">@Model.Description</textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-btns d-flex justify-content-center">
            <a asp-controller="game" asp-action="index" class="btn btn-secondary">
                Cancel
            </a>
            <button type="submit" class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>