@{
    ViewData["Title"] = "Home Page";
}

@model GameFilterViewModel

<form asp-controller="game" asp-action="index" class="d-flex m-3" role="search">
    <input asp-for="Name" minlength="3" value="@Model.Name" class="form-control me-2" type="search" placeholder="Search games by name..." aria-label="Search">
    <div class="input-group mx-3" style="width: 150px;">
        <select asp-for="Sort" class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected disabled value="0">Sort by...</option>
            <option value="1">New</option>
            <option value="2">Popular</option>
            <option value="3">Free</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<div class="m-3">
    <h4>Game categories</h4>
    <div class="d-flex flex-wrap align-items-md-start categories">
        @foreach (var category in Model.Categories)
        {
            <div>
                <a asp-controller="game" asp-action="category" asp-route-categoryId="@category.Id" class="btn btn-outline-primary mb-2" style="width: 120px;">
                    @category.Name
                </a>
            </div>
        }
    </div>
</div>

<div class="row mt-3 mx-2">

    @if (Model == null)
    {
        <h1>There is no any data yet!</h1>
    }
    else
    {
        @foreach (var game in Model.PagedGames)
        {
            <div class="col-md-4 p-2">
                <div class="card text-bg-dark">
                    <img src="~/@game.ImagePath" class="card-img cardimg" alt="...">
                    <a asp-controller="game" asp-action="gamedetail" asp-route-id="@game.Id" class="game-link">
                        <div class="card-img-overlay card-div">
                            @{
                                var gamePrice = game.Price == 0 ? "Free" : $"$ {game.Price}";
                            }
                            <div class="cardt">
                                <h3 class="card-title">$ @gamePrice</h3>
                                <div class="links">
                                    <a asp-controller="game" asp-action="edit" asp-route-id="@game.Id">🖋</a>
                                    <a asp-controller="game" asp-action="delete" asp-route-id="@game.Id">🗑</a>
                                </div>
                            </div>
                            <h5 class="card-text">@game.Name</h5>
                            <p class="card-text"><small>@string.Join(" / ", game.Categories.Select(c => c.Name))</small></p>
                            <p style="margin-top: -15px; float: right;">@game.Sold Sold</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    }

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
                @* @if (Model.PagedGames.HasPrevious)
                {
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                }
                else
                {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                } *@
            @for (int i = 1; i <= Model.PagedGames.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" asp-controller="game" asp-action="index" asp-route-page="@i" asp-route-name="@Model.Name" asp-route-sort="@Model.Sort">@i</a></li>
            }
                @* @if (Model.PagedGames.HasNext)
                {
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                }
                else
                {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                } *@
        </ul>
    </nav>
</div>